.popup-banner {
  position: fixed;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  width: 100%;
  height: 100%;

  .popup-banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    a {
      display: block;
    }

    img {
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
      background: #f9f9f9;
      color: #444;
      text-shadow: none;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      border: #f9f9f9 solid 10px;

    }

    .popup-close {
      position: absolute;
      top: -45px;
      right: -45px;
      cursor: pointer;
      display: block;
      outline: none;
      border: none;
      width: 106px;
      height: 90px;
      background: url(../images/btn-popup-close.png) no-repeat;

      &:hover {
        background-position: 0 -88px;
      }
    }
  }
}
