ol.breadcrumb {
  padding: 0 20px;
  height: 1em;
  display: block;
  text-overflow: ellipsis;
  li.breadcrumb-item {
    float: none;
    display: inline-block;
    color: #fff;
    a {
      color: #fff;
    }
  }
}
