.dnone {
  display: none;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.c-white {
  color: #ffffff;
}

.c-red {
  color: red;
}

.text-center {
  text-align: center;
}

.text-red {
  color: #ff0000;
}

.clearfix {
  clear: both;
}

.block {
  display: block;
}
