.dnone {
  display: none;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.c-white {
  color: #ffffff;
}
.c-orange {
  color: orange;
}
.c-green {
  color: green;
}

.c-red, .text-red {
  color: red;
}

.text-center {
  text-align: center;
}

.clearfix {
  clear: both;
}

.block {
  display: block;
}
.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.hide {
  display: none;
}
