@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-BoldCond.otf');
}
@import "reset.css";
.f-left{
	float: left;
}
.f-right{
	float: right;
}
a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
body{
    background: url('../images/landing/bg-middle.jpg');
}
.section-01,.section-02,.section-03,.section-04,.section-05, .footer{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    .container{
        margin: 0 auto;
        width: 1024px;
        height: 100%;
    }
}
.section-01{
    height: 768px;
    background: url('../images/landing/bg-section-01.jpg') center no-repeat;
    .container{
        background: url('../images/landing/bg-container-ss01.png') no-repeat;
        position: relative;
        .logo{
            width: 250px;
            height: 180px;
            position: absolute;
            left: 50%;
            margin-left: -125px;
        }
        .menu{
            width: 369px;
            height: 40px;
            position: absolute;
            right: 35px;
            li{
                list-style: none;
                float: left;
                text-align: center;
                width: 123px;
                height: 40px;
                a{
                    color: #db8805;
                    font-size: 16pt;
                    font-family: MyriadPro;
                    text-transform: uppercase;
                    line-height: 70px;
                    text-shadow: 1px 1px
                }
                a:hover{
                    color: #b7750d;
                }
            }
        }
        .three-button{
            left: 215px;
            position: absolute;
            bottom: 35px;
            div{float: left;cursor: pointer;}
            .register-btn{
                width: 130px;
                height: 127px;
                background: url('../images/landing/btn-dk.png') no-repeat;
                margin-top: 80px;
            }
            .download{
                width: 195px;
                height: 203px;
                background: url('../images/landing/btn-tai-game.png') no-repeat;
                margin-left: 50px;
            }
            .login-btn{
                width: 102px;
                height: 107px;
                background: url('../images/landing/btn-dn.png') no-repeat;
                margin-left: 50px;
                margin-top: 100px;
            }
        }
    }
}
.section-02{
    height: 887px;
    background: url('../images/landing/bg-section-02.jpg') center no-repeat;
}
.section-03{
    height: 958px;
    background: url('../images/landing/bg-section-03.jpg') center no-repeat;
    .container{
        position: relative;
        .download{
            width: 282px;
            height: 80px;
            background: url('../images/landing/tham-gia-ngay.png') no-repeat;
            position: absolute;
            bottom: 63px;
            left: 50%;
            margin-left: -191px;
        }
    }
}
.section-04{
    height: 1015px;
    background: url('../images/landing/bg-section-04.jpg') center no-repeat;
    .container{
        position: relative;
        .download{
            width: 164px;
            height: 37px;
            position: absolute;
            bottom: 125px;
            right: 50px;
        }
    }
}
.section-05{
    height: 1014px;
    background: url('../images/landing/bg-section-05.jpg') center no-repeat;
    .container{
        position: relative;
        div{
            width: 150px;
            height: 43px;
            position: absolute;
        }
        .volamtranhba{
            left: 490px;
            top: 550px;
        }
        .quanhunghoitu{
            left: 780px;
            top: 550px;
        }
        .anhhungthiep{
            left: 345px;
            top: 910px;
        }
        .denhatbanghoi{
            left: 640px;
            top: 910px;
        }
    }
}
.footer{
    height: 205px;
    background: url('../images/landing/bg-footer.jpg') center no-repeat; 
    .container{
        position: relative;
        margin-top: 125px;
        a{
            display: inline;
        }
    }
}  
.footer .bottom-logo {
    background: url("../images/logo-bottom.png") center no-repeat;
    height: 70px;
    width: 140px;
    margin-left: 10px;
    background-size: contain;
}

.footer .bottom-logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.footer .footer-contents {
    width: 800px;
}

.footer .footer-contents p {
    color: #75919f;
    font-size: 16px;
    line-height: 25px;
}

.footer .footer-contents a {
    color: #ffffff;
}

.footer .footer-contents span {
    color: #ffffff;
}

.footer .footer-contents span.blue {
    color: #1759df;
}