@font-face {
  font-family: 'PhilosopherBold';
  src: url('../fonts/Philosopher-Bold.ttf');
}
@font-face {
  font-family: 'geoslab703-extra';
  src: url("../fonts/GeoSlab703-Extra.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geoslab703-medium';
  src: url("../fonts/GeoSlab703-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #060100;
  font-family: PhilosopherBold, Tahoma, Arial, sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
}

.sprite {
  background: url(../images/bg-sprite.png) no-repeat;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  background: url('../images/bg-header.jpg') top center no-repeat, url('../images/bg-footer.png') bottom center repeat-x;
  min-height: 2000px;
  position: relative;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.header {
  //height: 620px;
  height: 525px;
  .header-content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background: url("../images/bg-header-menu.png") no-repeat;

    #slogan {
      position: absolute;
      top: 139px;
      left: 50%;
      transform: translateX(-50%);
      margin-left: -186px;
      width: 516px;
      height: 240px;
      background: url("../images/slogan.jpg");
    }
  }
  .top-menu {
    ul {
      padding: 0;
    }

    li {
      display: block;
      float: left;
      height: 50px;
      padding: 0 23px;
      a {
        cursor: pointer;
        display: block;
        height: 100%;
        width: 100%;
        color: #ffffff;
        font-family: PhilosopherBold, Tahoma, Arial, sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 60px;
      }
      a:hover, a.active {
        color: #c73002;
      }
      &.logo {
        overflow: hidden;
        width: 192px;
        height: 192px;
        padding: 0;
        background-size: cover;
        background: url('../images/logo.png') no-repeat 0 -26px;
        margin-left: 10px;
        a {
          display: block;
          width: 100%;
          height: 100%;
          text-indent: -999px;
        }
      }
    }
  }
  #intro {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;
    &.active {
      display: initial;
    }
  }
}

.main_content {
  position: relative;
  z-index: 5;
  width: 100%;
  .slick-slide {
    outline: none;
  }

  .two-columns {
    min-height: 500px;
    width: 100%;

    .search {
      width: 100%;
      background: url('../images/bg-form-search.png');
      height: 50px;
      .form-search {
        //padding: 10px 5px 10px 20px;

        input[type=text] {
          height: 36px;
          background: transparent;
          outline: none;
          border: none;
          padding: 8px 30px;
          width: 545px;
          color: #ff7f02;
          font-size: 15px;
          line-height: 32px;
        }
        button {
          height: 32px;
          background: transparent;
          outline: none;
          border: none;
          width: 145px;
          padding: 10px 20px;
          color: #fff;
          line-height: 32px;
          font-size: 16px;
        }
      }
    }
    .columns-left {
      float: left;
      width: 227px;
      min-height: 500px;
      position: relative;
      padding-top: 176px;

      .download-btn {
        width: 288px;
        height: 235px;
        position: absolute;
        left: -56px;
        top: -54px;

        a {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      .charge {
        a.btn {
          margin-top: 10px;
          display: block;
          width: 100%;
          height: 81px;
          text-indent: -999px;
          &.btn-charge {
            background-position: -186px -124px;
            &:hover {
              background-position: -415px -124px;
            }
          }
          &.btn-gift-code{
            background-position: -186px -204px;
            &:hover {
              background-position: -415px -204px;
            }
          }
        }
      }

      .register-login {
        width: 100%;

        .register-btn {
          cursor: pointer;
          width: 100%;
          height: 81px;
          margin-top: 10px;
          background-position: -186px -284px;
          &:hover {
            background-position: -415px -284px;
          }
        }

        .login-btn {
          cursor: pointer;
          width: 100%;
          height: 81px;
          margin-top: 10px;
          background-position: -186px -364px;
          &:hover {
            background-position: -415px -364px;
          }
        }
      }

      .info-user {
        margin-top: 10px;
        background: white;
        padding-top: 15px;
        height: calc(250px - 15px);;
        padding-left: 20px;
        width: calc(227px - 20px);

        .info-title {
          background: url('../images/icon-manage.png') no-repeat;
          height: 30px;

          p {
            margin-left: 40px;
            color: #151925;
            font-size: 18px;
            font-weight: bold;
            line-height: 35px;
            font-family: PhilosopherBold, Tahoma, Arial, sans-serif;
          }
        }

        .info-content {
          margin-top: 15px;

          p {
            font-size: 16px;
            color: #171b1e;
            line-height: 35px;
            font-family: PhilosopherBold, Tahoma, Arial, sans-serif;

            span {
              color: #c2433d
            }
          }
        }

        .two-btn {
          height: 25px;
          margin-top: 15px;

          div {
            width: 87px;
            height: 23px;
            float: left;
          }

          a {
            display: block;
            width: 100%;
            height: 100%;
          }

          .btn-manage {
            background: url('../images/btn-manage.png') no-repeat
          }

          .btn-exit {
            background: url('../images/btn-exit.png') no-repeat;
            margin-left: 15px;
          }
        }
      }

      .research {
        background: white;
        width: 100%;
        height: 42px;
        margin-top: 10px;
        padding-top: 10px;

        form {
          background: url('../images/bg-form-search.png') no-repeat;
          width: 215px;
          height: 32px;
          padding: 1px 0 0 10px;
          margin-left: 5px;
        }

        input[type=text] {
          height: 30px;
          padding: 0;
          border: 0;
        }

        input:focus {
          outline-width: 0;
        }

        input[type=submit] {
          background: url(../images/btn-search.png) no-repeat;
          width: 15px;
          height: 15px;
          padding: 0;
          border: none;
          cursor: pointer;
        }
      }

      .act-daily {
        margin-top: 10px;
        width: 217px;
        height: 420px;
        background: url('../images/bg-act-daily-new.jpg') no-repeat;
        padding: 90px 5px 0 5px;
        font-family: 'Roboto', sans-serif;
        position: relative;

        .activity-tabs {
          position: absolute;
          top: 51px;
          text-indent: 1px;
          a {
            display: inline-block;
            text-align: center;
            padding: 5px;
            color: #fff;
            font-size: 14px;
            &:hover, &.active {
              background-color: #ff191e;
              border-radius: 3px;
            }
          }
        }

        table {
          font-size: 14px;
          width: 100%;
          &.active {
            display: table !important;
          }

          td {
            font-size: 12px;
            &.td-time {
              padding-top: 5px;
              vertical-align: top;
              color: #ff191e;
              width: 70px;
              text-align: right;
              padding-right: 5px;
            }

            &.td-content {
              width: 141px;
              padding: 5px 0px 10px 2px;
              a {
                color: #2444be;
              }
            }
          }
        }
        table.tab-T6 td.td-content {
          padding: 5px 0px 8px 2px;
        }

        .act-daily-view-more {
          width: 205px;
          position: absolute;
          bottom: 15px;

          a {
            margin-right: 10px;
            float: right;
            color: white;
          }
        }
      }

      .three-btn {
        width: 100%;

        div {
          height: 115px;
          margin-top: 10px;
          background-size: 701px 489px;
        }

        a {
          display: block;
          width: 100%;
          height: 100%;
        }
        .trade {
          background-position: -237px 0;
        }

        .info-sv {
          background-position: -473px 0;
        }
      }

      .hot-line {
        background: url('../images/bg-hotline.jpg') no-repeat;
        width: 100%;
        height: 100px;
        margin-top: 10px;
        padding: 50px 0 0 50px;
        p {
          color: #ffae21;
          font-size: 24px;
          width: 170px;
          line-height: 30px;
        }
      }
    }

    .columns-right {
      float: left;
      margin-left: 13px;
      width: 760px;
      min-height: 500px;

      .slider {
        width: 100%;
        background: #141927;
        height: 310px;

        .my-slider, .slick-slider, .slick-list {
          width: 760px;
          height: 270px;
          background: url(../images/bg-slider-nav.jpg) repeat-x;

          a {
            display: block;

            img {
              height: 270px;
              width: 760px;
            }
          }

          overflow: hidden;
        }

        div {
          float: left;
        }

        .slider-nav {
          width: 760px;
          height: 40px;

          .pre-arrow {
            height: 40px;
            width: 40px;
            background: url('../images/arrow.jpg') no-repeat;
            cursor: pointer;
          }

          .next-arrow {
            height: 40px;
            width: 40px;
            background: url('../images/arrow.jpg') no-repeat;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            cursor: pointer;
          }

          .slider-nav-thumbnails, .slick-list {
            width: 680px;
            height: 40px;

            .slider-item {
              float: left;
              height: 40px;
              width: 134px;
              border-left: 1px solid #1b2233;
              border-right: 1px solid #1b2233;
              cursor: pointer;
              color: #767676;
              line-height: 40px;
              text-align: center;
              font-size: 16px;
            }

            div:hover, div.active, .slick-current {
              color: #fff;
            }
          }
        }
      }

      .guide {
        margin-top: 10px;
        height: 115px;

        div {
          float: left;
          width: 247px;
          height: 115px;
        }

        .trade {
          background-position: -256px 0;
          margin-left: 5px;
        }

        .info-sv {
          background-position: -513px 0;
          float: right;
        }

        a {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      .news {
        background-color: #ffffff;
        margin-top: 10px;
        padding: 10px;
        width: calc(100% - 20px);

        &.auto {
          height: auto;
        }

        .column-first {
          width: 550px;
          height: 100%;
          float: left;

          .menu-news {
            height: 40px;
            background: url('../images/line.png') bottom left repeat-x;

            .tab-link {
              background-position: -489px -459px;
              display: block;
              text-align: center;
              width: 122px;
              font-size: 16px;
              color: #060100;
              float: left;
              cursor: pointer;
              line-height: 30px;
              &:hover, &.active {
                background-position: -359px -459px;
                color: #fff;
              }
              &.tong-hop {
              }
              &.thong-bao {
                margin-left: 20px;
              }
              &.su-kien {
                margin-left: 20px;
              }
            }

            .news-more {
              float: right;
              background: url('../images/btn-more.png') no-repeat;
              height: 16px;
              width: 16px;
              margin-top: 10px;
              display: block;
            }

            .news-more:hover {
              margin-top: 8px;
            }
          }

          .tab-content {
            display: none;
          }

          .tab-content.active {
            display: block;
          }

          .hot-news {
            width: 100%;
            height: 80px;
            margin-top: 20px;

            a {
              display: block;
              width: 100%;
              height: 100%;
            }

            p {
              color: black;
              font-family: 'Roboto', sans-serif;
            }

            .hot-img {
              width: 120px;
              height: 100%;
              background-size: 100% 100%;

              img {
                width: 100%;
                height: 100%;
              }
            }

            .hot-des {
              height: 100%;
              width: 350px;
              margin-left: 10px;

              p:nth-child(2) {
                margin-top: 5px;
                line-height: 20px;
              }
            }

            .hot-time {
              height: 100%;
              width: 60px;
            }

            .hot-title {
              color: #c73002;
              font-size: 16px;
              font-weight: bold;
            }
          }

          .list-news {
            width: 100%;
            height: 285px;
            margin-top: 25px;

            ul {
              display: table;
              margin: 0;
              padding: 0;
              width: 100%;
              height: 100%;
            }

            li {
              display: table-row;

              a {
                display: block;
                width: calc(100% - 25px);
                height: 100%;
                color: black;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-weight: normal;
                padding-left: 5px;
                line-height: 20px;
                span {
                  float: right;
                }
              }

              a:hover {
                color: #c73002;
              }
            }
          }
        }

        .column-second {
          width: 173px;
          height: 336px;
          float: right;
          background-position: 0 -115px;
        }
      }

      .newbies {
        background-color: white;
        margin-top: 10px;
        padding: 10px;
        width: calc(100% - 20px);
        .tab-content {
          display: none;
          &.active {
            display: block;
          }
        }
        .newbies-header {
          height: 40px;
          width: 100%;
          background: url('../images/line.png') bottom left repeat-x;

          .newbies-title {
            display: block;
            width: 171px;
            text-align: center;
            background-position: -180px -459px;
            color: #060100;
            font-size: 18px;
            line-height: 31px;
            cursor: pointer;
            margin-right: 20px;
            &:hover, &.active {
              color: #fff;
              background-position: 0 -459px;
            }
          }

          .newbies-more {
            background: url('../images/btn-more.png') no-repeat;
            height: 16px;
            width: 16px;
            margin-top: 10px;
          }

          .newbies-more:hover {
            margin-top: 8px;
          }

          a {
            display: block;
            width: 100%;
            height: 100%;;
          }
        }

        .hot-news {
          width: 100%;
          height: 80px;
          margin-top: 20px;

          a {
            display: block;
            width: 100%;
            height: 100%;
          }

          p {
            color: black;
            font-family: 'Roboto', sans-serif;
          }

          .hot-img {
            width: 120px;
            height: 100%;
            background-size: 100% 100%;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .hot-des {
            height: 100%;
            width: 350px;
            margin-left: 10px;

            p:nth-child(2) {
              margin-top: 5px;
              line-height: 20px;
            }
          }

          .hot-time {
            height: 100%;
            width: 60px;
          }

          .hot-title {
            color: #c73002;
            font-size: 16px;
            font-weight: bold;
          }
        }

        .list-news {
          width: 100%;
          height: 285px;
          margin-top: 25px;

          ul {
            display: table;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
          }

          li {
            display: table-row;
            a {
              display: block;
              width: calc(100% - 25px);
              height: 100%;
              color: black;
              font-family: 'Roboto', sans-serif;
              font-size: 14px;
              font-weight: normal;
              padding-left: 5px;
              line-height: 20px;

              span {
                float: right;
              }
            }

            a:hover {
              color: #c73002;
            }
          }
        }
      }
    }
  }
}

.footer {
  height: 80px;
  padding-top: 60px;
}

.footer .bottom-logo {
  background: url("../images/logo.png") center no-repeat;
  height: 70px;
  width: 140px;
  background-size: cover;
  margin-right: 20px;
}

.footer .bottom-logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.footer .footer-contents {
  width: 800px;
}

.footer .footer-contents p {
  color: #75919f;
  font-size: 16px;
  line-height: 25px;
}

.footer .footer-contents a {
  color: #ffffff;
}

.footer .footer-contents span {
  color: #ffffff;
}

.footer .footer-contents span.blue {
  color: #1759df;
}

/*details content*/
.details-content {
  width: 100%;

  .header-details-content {
    width: 760px;
    height: 96px;
    background: url('../images/bg-details-content.jpg') no-repeat;

    p {
      margin-left: 20px;
      font-size: 24px;
      line-height: 55px;
    }

    ul {
      margin-left: 20px;
    }

    li {
      float: left;
      padding-right: 10px;
      &:after {
        content: ' >> ';
        margin-left: 10px;
      }
      &:last-child:after {
        content: '';
      }
      a {
        font-size: 15px;
        &:hover, &.active {
          color: #ff7f02;
        }
      }
    }

    li:last-child {
      background: none;
      font-size: 15px;
    }
  }

  .main-details-content {
    margin-top: 10px;
    width: 700px;
    background: #ffffff;
    min-height: 1610px;
    padding: 50px 30px;
    font-family: 'Roboto', sans-serif !important;

    p {
      line-height: 25px;
    }

    .view-more {
      margin-top: 30px;
      background: url('../images/bg-view-more.jpg') top no-repeat;
      padding: 60px 0;

      li {
        width: 700px;
        background: url('../images/icon-list-new.png') left center no-repeat;
        padding-left: 30px;

        a {
          display: block;
          width: calc(100% - 30px);

          span {
            float: right;
            line-height: 50px;
          }

          color: #171b1e;
          font-size: 16px;
          line-height: 50px;
        }

        a:hover {
          font-size: 17px;
        }
      }
    }

    .manage-account {
      .title {
        background: url('../images/icon-arrow.png') left no-repeat;
        padding-left: 40px;
        color: #151925;
        font-size: 20px;
        font-family: PhilosopherBold, Tahoma, Arial, sans-serif;
        font-weight: bold;
      }

      form {
        width: 320px;
        margin-left: 200px;

        input {
          border-radius: 5px;
          width: 295px;
          height: 35px;
          margin-top: 10px;
          outline: none;
          padding-left: 15px;
        }

        label {
          margin-top: 15px;
          display: inline-block;
          font-size: 14px;
        }

        button {
          width: 158px;
          height: 42px;
          background: url('../images/btn-manage-account-hover.png') no-repeat;
          border: none;
          margin-top: 15px;
          text-align: center;
          color: #fff7e7;
          font-size: 16px;
          font-family: PhilosopherBold, Tahoma, Arial, sans-serif;
          font-weight: bold;
          cursor: pointer;
          outline: none;
          margin-left: 70px;
        }

        .invalid-feedback {
          color: red;
          margin-top: 5px;
        }

        .alert-success {
          margin-top: 10px;
          color: green;
          font-size: 1rem;
          font-weight: bold;
        }
      }

      .features {
        ul {
          border: 1px solid #cecece;
          margin: 30px 0;
          padding: 30px 50px;

          li {
            font-size: 18px;
            margin-top: 15px;
            width: 400px;

            span {
              float: right;
            }
          }
        }

        table {
          width: 100%;
          margin-top: 30px;
        }

        table, th, td {
          border: 1px solid gray;
          border-collapse: collapse;
        }

        th, td {
          padding: 7px 15px;
        }

        th {
          background-color: #008040;
          color: white;
        }

        tr:nth-child(even) {
          background-color: #F0F0F0;
        }

        tr:hover {
          background-color: #ddd;
        }
      }

      .list-features {
        margin: 20px;

        ul {
          margin-left: 60px
        }

        li {
          width: 158px;
          height: 42px;
          background: url('../images/btn-manage-account.png') no-repeat;
          padding-left: 30px;
          float: left;
          margin-top: 15px;

          a {
            display: block;
            width: 98px;
            height: 100%;
            color: #fff7e7;
            font-size: 16px;
            line-height: 16px;
            margin-top: 5px;
            text-align: center;
            font-family: PhilosopherBold, Tahoma, Arial, sans-serif;
            font-weight: bold;
          }
        }

        li:hover, li.active {
          background: url('../images/btn-manage-account-hover.png') no-repeat;
        }
      }
    }

    .menu {
      margin-top: -20px;
      border-bottom: #404040 solid 2px;
      height: 30px;

      li {
        float: left;
        padding-left: 5px;
        padding-right: 25px;

        a {
          font-size: 20px;
          font-family: PhilosopherBold, Tahoma, Arial, sans-serif;
          color: #39425e;
          line-height: 25px;
          font-weight: bold;
        }

        a:hover, a.active {
          color: #c73002
        }
      }
    }

    .center {
      text-align: center;
      margin-top: 30px;
    }

    .list-content {
      .item {
        margin-top: 15px;
        padding-bottom: 15px;
        border-bottom: #eeeeee 1px solid;
        min-height: 80px;
        overflow: hidden;

        a {
          display: block;
          font-size: 14px;
          color: #838383;
        }

        a.img {
          width: 120px;
          margin-left: 10px;

        }

        a.content {
          width: 400px;
          margin-left: 10px;

          .title {
            color: #151925;
            padding-bottom: 15px;
            font-weight: bold;
            font-size: 18px;
          }
        }

        a.time {
          width: 80px
        }

        img {
          height: 80px;
          width: 120px;
          border: none;
          object-fit: cover;
        }
      }

      .pagination {
        display: inline-block;
      }

      .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;
        font-size: 16px;
      }

      .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
      }

      .pagination a:hover:not(.active) {
        background-color: #ddd;
      }
    }

    .manage-charge {
      .title {
        background: url('../images/icon-arrow.png') left no-repeat;
        padding-left: 40px;
        color: #151925;
        font-size: 20px;
        font-family: PhilosopherBold, Tahoma, Arial, sans-serif;
        font-weight: bold;
      }

      .head-title {
        color: #c33203;
        font-size: 30px;
        font-family: PhilosopherBold, Tahoma, Arial, sans-serif;
        font-weight: bold;
        text-align: center;
      }

      .list-btn-charge {
        overflow: hidden;
        padding-bottom: 50px;

        ul {
          margin-left: 80px;
          margin-top: 20px;
        }

        li {
          width: 158px;
          height: 42px;
          background: url('../images/btn-manage-account.png') no-repeat;
          padding-left: 30px;
          float: left;
          margin-top: 15px;

          a {
            width: 100px;
            height: 100%;
            color: #fff7e7;
            font-size: 16px;
            text-align: center;
            font-family: PhilosopherBold, Tahoma, Arial, sans-serif;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          &:hover, &.active {
            background: url('../images/btn-manage-account-hover.png') no-repeat;
          }
        }
      }

      .card-type {
        margin-top: 30px;
      }

      .charge {
        margin-top: 30px;

        form {
          margin-top: 40px;
          margin-left: 35px;
          width: 600px;
          min-height: 300px;

          .item {
            height: 45px;
            width: 100%;
            margin-top: 15px;

            .label {
              float: left;
              color: #151925;
              font-size: 1.2rem;
              font-family: PhilosopherBold, Tahoma, Arial, sans-serif;
              font-weight: bold;
              line-height: 55px;
              margin-left: 50px;
            }

            .content {
              float: right;
              margin-right: 50px;

              &.payment-message {
                line-height: 40px;
                font-size: 1.1rem;
                font-weight: bold;
                text-align: center;
                width: 400px;

                &.success {
                  color: green;
                }

                &.error {
                  color: red;
                }
              }
            }

            input, select {
              font-size: 1.1rem;
              height: 45px;
              width: 400px;
              border-radius: 5px;
              border: 1px solid black;
              outline: none;
              padding: 0;
              text-align: center;
            }

            select {
              text-align-last: center;
            }

            button[type=submit] {
              width: 158px;
              height: 42px;
              background: url('../images/btn-manage-account-hover.png') no-repeat;
              border: none;
              margin-top: 15px;
              text-align: center;
              color: #fff7e7;
              font-size: 16px;
              font-family: PhilosopherBold, Tahoma, Arial, sans-serif;
              font-weight: bold;
              cursor: pointer;
              outline: none;
              margin-right: 20px;
            }

            button:hover {
              background: url('../images/btn-manage-account.png') no-repeat;
            }

            a {
              text-decoration: underline;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  body.tet:before, body.tet:after {
    display: none;
  }
}
#gift-code-form {
  .gift-code-input-row {
    position: relative;
    height: 41px;
    background: url("../images/btn-nhap-code.png") top center no-repeat;
    input[type="text"] {
      margin-left: 229px;
      height: 31px;
      font-size: 24px;
      background: transparent;
      outline: none;
      border: none;
      color: #fff !important;
      padding: 3px 10px;
      text-transform: uppercase;
      width: 219px;
      margin-top: 2px;
    }
    button[type="submit"] {
      outline: none;
      background: transparent;
      text-indent: -9999px;
      width: 163px;
      height: 39px;
      position: absolute;
      top: 0;
      border: none;
      cursor: pointer;
    }
  }

  div.alert {
    text-align: center;
    margin-top: 3px;
    span {
      padding: 5px 10px;
    }
    &.alert-error {
      span {
        background-color: #ee4909;
        color: #fff;
      }
    }
    &.alert-success {
      span {
        background-color: #6dae0a;
        color: #fff;
      }
    }
  }
}

.btn-giftcode {
  z-index: 6 !important;
}
