.popup-rg-lg {
  display: none;

  .popup-bg-mask {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.8);
  }

  input[type="text"], input[type="password"] {
    font-size: 1.1rem;
  }
  .popup-content {
    background: url('../images/bg-register.png') no-repeat;
    background-size: 100% 100%;
    width: 572px;
    min-height: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -286px;
    margin-top: -340px;

    .popup-tab-content {
      position: relative;
      .popup-message {
        text-align: center;
        position: absolute;
        width: 100%;
        top: 18px;

        span {
          font-size: 1.2rem;
          &.error {
            color: red;
          }
          &.success {
            color: green;
          }
        }
      }
    }

    .popup-menu {
      overflow: hidden;

      div {
        width: 286px;
        height: 72px;
        cursor: pointer;
      }

      .btn-login {
        background: url("../images/btn-login.jpg") no-repeat;
      }

      .btn-login.active, .btn-login:hover {
        background: url("../images/btn-login-hover.jpg") no-repeat;
      }
    }

    .btn-register {
      background: url("../images/btn-register.jpg") no-repeat;
    }
    .btn-register:hover, .btn-register.active {
      background: url("../images/btn-register-hover.jpg") no-repeat;
    }
    input[type=text], input[type=password] {
      width: 330px;
      height: 61px;
      padding-left: 65px;
      margin-bottom: 25px;
      border-color: #d7d7d7;
      background-color:white;
      outline: none;
    }

    p {
      margin-bottom: 25px;
      color: #25408e;
      font-size: 16px;

      span {
        color: red;
      }
    }

    .username {
      background: url("../images/icon-username.png") top 20px left 22px no-repeat;
    }

    .password {
      background: url("../images/icon-password.png") top 20px left 22px no-repeat;
    }

    .phone {
      background: url("../images/icon-phone.png") top 20px left 22px no-repeat;
    }

    .highlight {
      color: #c12e03;
    }

    button[type=submit] {
      width: 396px;
      height: 66px;
      border: none;
      cursor: pointer;
      outline: none;
    }

    .btn-submit-login {
      background: url("../images/btn-submit-login.png") no-repeat;
    }

    .btn-submit-register {
      background: url("../images/btn-submit-register.png") no-repeat;
    }

    .popup-lg, .popup-rg {
      display: none;
      padding: 50px 80px;
    }

    .popup-lg.active, .popup-rg.active {
      display: block;
    }
  }
}







