.details-content {
  .main-details-content{
    h1{
      font-size: 2rem;
    }
    h2{
      font-size: 1.5rem  }
    h3{
      font-size: 1.17rem;
    }
    h4{
      font-size: 1rem;
    }
    h5{
      font-size: 0.83rem;
    }
    strong, b {
      font-weight: bold;
    }
    h1, h2, h3, h4, h5, h6 {
      span{
        font-size: 1em !important;
      }
    }
    em, i {
      font-style: italic;
    }
  
    * {
      max-width: 760px !important;
      line-height: 1.35em;
    }
    td {
      border: 1px solid #c3bdbd;
      padding: 5px 10px;
    }
    p{
      span{
        line-height: 1.35em;
        font-size: 14px !important;
      }
    }
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  }
  
}
